PORT=
DATABASE_URL=
NODE_ENV=

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES=

# BCRYPT
BCRYPT_SALT_ROUND=

# SUPER ADMIN CREDENTIALS
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASS=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

# Express session
EXPRESS_SESSION_SECRET=

# frontend URL
FRONTEND_URL=http://localhost:5173
