PORT=
DATABASE_URL=
NODE_ENV=

# JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES=

# BCRYPT
BCRYPT_SALT_ROUND=

# SUPER ADMIN CREDENTIALS
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASS=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

# Express session
EXPRESS_SESSION_SECRET=

# frontend URL
FRONTEND_URL=http://localhost:5173

# sslCommerz
SSL_STORE_ID="your_store_id"
SSL_STORE_PASS="your_store_pass"
SSL_PAYMENT_API="https://sandbox.sslcommerz.com/gwprocess/v3/api.php"
SSL_VALIDATION_API=" https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php"

# SSL Commerz backend URLs
SSL_SUCCESS_BACKEND_URL="http://localhost:5000/payment/success"
SSL_FAIL_BACKEND_URL="http://localhost:5000/payment/fail"
SSL_CANCEL_BACKEND_URL="http://localhost:5000/payment/cancel"


# SSL Commerz Frontend URLs
SSL_SUCCESS_FRONTEND_URL="http://localhost:5173/payment/success"
SSL_FAIL_FRONTEND_URL="http://localhost:5173/payment/fail"
SSL_CANCEL_FRONTEND_URL="http://localhost:5173/payment/cancel"

# cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret


# SIMPLE MAIL TRANSFER PROTOCOL(FOR NODEMAILER)
SMTP_HOST=smtp.gmail.com # this can be collection from google
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
